@import 'highlight.js/styles/default.css';
@import 'bytemd/dist/index.css';

.medium-zoom-overlay {
  background: rgba($color: #000000, $alpha: 0.25) !important;
}

.medium-zoom-image--opened {
  z-index: 99;
}

.medium-zoom--opened .header_container {
  opacity: 0;
}

.bytemd-fullscreen {
  z-index: 99;
}